
.productDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 10px 5px lightgrey;
    text-align: left;
}
.detailContainerImg{
    width: 35vw

}
.detailImg {
    width: 100%;
}
  
.detailInfo {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    flex-grow:1;
}
  
.detailCategory{
    text-transform: uppercase;
    color: #34b7a7;
    font-size: 15px;
}
.detailNombre{
    font-size: 30px;
    color: rgb(93, 92, 94);
    text-transform: uppercase;
    text-decoration: underline;
}
.detailDescrip{
    color: #173b5f;
    font-weight: 400;
    text-align: justify;
}
.detailInfo h4{
    font-size: 25px;
    color:#34b7a7;
}
.detailPrice{
    font-weight: bold;
    color: rgb(93, 92, 94)
}
  
  @media only screen and (min-width: 800px) {
    .productDetail {
      flex-direction: row;
    }
  }
