.tableContainer {
    width:100%;
    border-collapse:collapse;
}
.table{
    font-size: 20px;
    border-bottom: solid 5px rgb(154, 149, 149);
}
.btnCart{
    margin-left: 20px;
    margin-bottom: 20px;
}