.hero{
    width: 100%;
    height: 100vh;
    background-position: 67%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/r5PVJVK/hero.jpg")
}
.heroContainer{
    display: grid;
    grid-template: 1fr 2fr 1fr / 0.5fr 2fr 0.5fr;
    height: 100%;
}
.textBox{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    align-self: center;
}

.textBox h1{
    font-size: 50px;
    color:#008e76 ;
}
.textBox h2{
    font-size: 35px;
    color:  #828282;
    text-align: center;
}
button a{
    text-decoration: none;
    color: black;
}

